.justified-layout-container {
    display: flex;
    position: relative;
    width: 100%;
    padding: var(--content-spacing-medium);
    background-color: var(--neutrals-gray-128);
    max-width: 1400px;
}

.justified-layout-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.load-more-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.load-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 8px;
    background-color: var(--neutrals-gray-153);
    border-radius: 4px;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.load-more:hover {
    background-color: var(--neutrals-gray-230);
}

@media (max-width: 480px) {
    .justified-layout-container {
        padding: var(--content-spacing-small);
    }
}
