.header {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    font-family: var(--font-family-default);
    background-color: var(--neutrals-black);
    color: var(--utils-offwhite);
    padding: var(--content-spacing-large);
}
