.header {
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    font-family: var(--font-family-default);
    background-color: black;
    color: whitesmoke;
    padding: 16px;
}
